.title-1 {
    font-size: 2em;
    text-align: center;
    padding-top: 2em;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.sub-title-1 {
    font-size: 1.5em;
    text-align: center;
    padding-top: 1em;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.link-col{
    width: 100%;
    text-align: center;
}
.link-item{
    display: inline-block;
    font-size: 1em;
    padding-top: 1em;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.counter {
    text-align: center;
    font-family: 'Geneva',Segoe UI, Tahoma, Verdana, sans-serif;
    font-size: 20rem;
    margin-top: -60px;
}

.crowd-level {
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: italic;
    font-size: 1.75em;
    margin-top: -40px;
}

.box {
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
}

.color-indicator {
    right: 50%;
    width: 35em;
    height: 2em;
    background-color: greenyellow;
    margin-top: 20px;
    border-radius: 1em;
}

.last-entered {
    font-size: 1.25em;
    text-align: center;
    padding-top: 0.5em;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.test-button {
    font-size: 1em;
    text-align: center;
    margin-top:0.5em;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}